/*Généralités*/
* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 1.1rem;
    text-align: center;
}

main {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

/* ----HEADER---- */
  
header {
    z-index: 5;
    margin-bottom: 1rem;
    position: fixed;
}

header a {
    font-size: 1.5rem;
    font-family: 'Iceland', cursive;
}

.header {
    height: 6rem;  
    background-color: rgba(255, 255, 255, .96);
}

header .logo, header nav, header .login_options {
    height: 100%;
    
}

header .logo, header .login_options {
    padding-top: .3rem;
}

header nav, header .login_options {
    padding-top: 1rem;
}

header ul a {
    color: #363636;
    border-radius: 5px;
}

header ul a:hover {
    color: #B82B21;
}

.drop:hover .dropdown-menu {
    display: block;
    border-top: 2px solid #B82B21;
}

.s-login {
    display: none;
    background-color: #B82B21;
    color: whitesmoke;
}


.login_options {
    flex-direction: column;
}

.login_options ul li form label {
    font-family: 'Iceland', cursive;
    font-size: 1.5rem;
    line-height: 0.7;
    padding: 10px 0;
}

.login_options a[class="first"]{
    color: #0073A4;
}

.login_options a[class="second"]{
    background-color: 
    border-radius: 10px;
}

.login_btn {
    background: linear-gradient(#b60c00, rgb(252, 25, 25));
    color: white;
    padding: 10px;
}

.login_btn:hover {
    background: linear-gradient(rgb(252, 25, 25), #b60c00);
    color: white;
}

.btn_form_perso {
    background: linear-gradient(#b60c00, rgb(252, 25, 25));
    color: white;
    animation: gradient 1s ease;
}

.btn_form_perso:hover {
    background: linear-gradient(rgb(252, 25, 25),#b60c00);
    color: white;
}


/* ----BANNER---- */
h1 {
    font-weight: 900;
}

.banner {
    padding-top: 6rem;
    height: auto;
    background-color: rgb(250, 210, 205);
}

.banner_img {
    width: 100%;
    height: auto;
}

.banner_img_md {
    display: none;
}


/* ----First Section---- */
main {
    margin-top: 4rem;
}

h2 {
    font-size: 2.3rem;
}

.first_section_img{
    height: 23rem;
}

.first_section_img img {
    height: 100%;
}


/* ----Second Section---- */
    /* Section 2 NAV */
.mid_menu {
    margin-top: 2rem;
}

.mid_menu a{
    color: #363636;
    padding: 20px 15px;
}

.mid_menu a:hover{
    background-color: rgb(240, 240, 240);
}

.mid_menu li::after {
    content: "|";
    float: right;
    color: black;
    margin-left: .9rem;
}

.mid_menu li:last-child::after {
    display: none;
}

.mid_menu_div {
    margin-bottom: 2rem;
}

    /*Section 2 Articles*/

.article_containers {
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    border-radius: 5px;
}

.section2 img {
    width: 80%;
    height: fit-content;
    padding: 1rem 0;
}

.section2 img[class="resize"] {
    width: 50%;
    height: fit-content;
}

.md-position {
    display: none;
}

/* ----FOOTER---- */
footer {
    background-color: #363636;
    height: auto;
    font-size: .9rem;
    margin-top: 5rem;
}

.footer_square {
    text-align: left;
}


footer a {
    color: rgb(161, 161, 161);
}

footer a:hover {
    color: #b60c00;
}

footer h5 {
    text-decoration: solid;
    margin-bottom: 1rem;
    font-weight: 100;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.footer_bottom {
    border-top: 1px solid white;
}


footer ul li{
    line-height: 2.3rem;
}

.copyright {
    text-align: left;
}


/* Ecrans jusqu'à width: 1024px */
@media (max-width:1024px) {

    .header {
        height: 4.5rem;
    }

    header a {
        font-size: 1.2rem;
    }

    .s-login {
        display: none;
    }

    .banner_img_md {
        display: none;
    }

    .first_section_img img {
        width: 70%;
        margin-left: 15%;
    }

    .section2 {
        margin-top: 50rem;
    }

    .mid_menu a {
        font-size: .8rem;
    }

    .article_containers {
        margin: 0 2rem;
        padding: 1rem 0;
    }

    .md-position {
        display: none;
    }
}

@media (max-width:768px) {
    html {
        font-size: 2.5rem;
    }

    header {
        margin-bottom:15rem;
        position: relative;
    }

    .s-login {
        display: block;
    }

    .logo img{
        width: 60%;
    }

    .main_menu li {
        border: 1px solid darkgrey;
        width: 100%;
        border-radius: 5px;
        margin-bottom: .5rem;
    }

    ul, .login_options {
        flex-direction: column;
     }

     .login_btn {
        display: none;
     }

     .login_btn {
         position: absolute;
         top: 0;
         right: 0;
     }

     .banner_article {
         padding-bottom: 1rem;
     }

     .banner_img_xl {
         display: none;
     }

     .banner_img_md {
         display: block;
         margin-bottom: 1rem;
     }

     .first_section_img img {
        width: 75%;
        margin-left: 12.5%;
        height: fit-content;
    }

    section h2 {
        font-size: 1.6rem;
    }

    .section1 article p{
        font-size: .8rem;
    }

    .section2 {
        margin-top: 7rem;
        padding-top: 2rem;
        border-top: 1px solid darkgrey;
    }

    .mid_menu li::after {
        display: none;
    }

    .mid_menu li {
        background-color: rgb(207, 207, 207);
        margin-bottom: 1rem;
        padding: 10px 0;
    }

    .mid_menu_div {
        margin-bottom: 1rem;
    }

    .section2 article {
        font-size: .8rem;
    }

    .section2 article h3 {
        font-size: 1.5rem;
    }

    .section2 img {
        width: 100%;
        height: fit-content;
    }

    .xl-position {
        display: none;
    }

    .md-position {
        display: block;
    }

    .footer_square, .footer_bottom p {
        text-align: center;
    }

    .footer_square {
        border-bottom: 1px solid darkgrey;
        padding-top: 1rem;
    }

    .footer_square:last-child {
        border-bottom: none;
    }

    .footer_square:first-child {
        padding-top: 0;
    }
    
}

@media (max-width:540px) {
       .logo img {
        width: fit-content;
    }

    .main_menu {
        margin-bottom: 0;
    }

    .main_menu li a{
        font-size: .8rem;
    }

    .banner {
        padding-top: 0;
    }

    .banner h1 {
        font-size: 1rem;
    }

    .banner p {
        font-size: .5rem;
    }

    main h2 {
        font-size: 1rem;
    }

    .section1 {
        margin-bottom: 0;
    }

    .section1 article p {
        font-size: .6rem;
    }

    .first_section_img img {
        width: 100%;
        height: fit-content;
        margin-left: 0;
    }

    .section2 {
        margin-top: 0;
    }

    .mid_menu li {
        padding: 0;
        margin-bottom: .5rem;
    }

    .mid_menu li a{
        font-size: .5rem;
    }

    .article_containers {
        width: 100%;
        margin: 0;
    }

    .section2 .article_containers article{
        font-size: .5rem;
    }

    .section2 .article_containers article h3 {
        font-size: .9rem;
    }

    footer h5 {
        font-size: .9rem;
        margin-bottom: .3rem;
    }

    footer ul li {
        line-height: unset;
    }

    .footer_square ul li a {
        font-size: .6rem;
    }

    .footer_bottom p, .footer_bottom ul li a {
        font-size: .5rem;
    }
}



