* {
    font-family: 'Iceland', cursive;
}

html {
    font-size: 1.6rem;
    text-align: center;
  }
  

  a {
      text-decoration: none;
  }
  
  /*@include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }*/
  header {
      margin-bottom: 1rem;
      position: fixed;
  }

.header {
    height: 6rem;  
}

header .logo, header nav, header .login_options {
    height: 100%;
}

header .logo {
    padding-top: .5rem;
}

header nav, header .login_options {
    padding-top: 1rem;
}

header ul a {
    color: #363636;
    border-radius: 5px;
}

header ul a:hover {
    color: #B82B21;
}

.login_options {
    flex-direction: column;
}

.login_options a[class="first"]{
    color: #0073A4;
}

.login_options a[class="second"]{
    background-color: 
    border-radius: 10px;
    
}

.banner {
    padding-top: 7rem;
    height: 30rem;
    background-color: rgb(243, 235, 235);
    
}

.login_btn {
    background: linear-gradient(#b60c00, rgb(252, 25, 25));
    color: white;
    padding: 10px;
}

.login_btn:hover {
    background: linear-gradient(rgb(252, 25, 25), #b60c00);
    color: white;
}



.btn_form_perso {
    background: linear-gradient(#b60c00, rgb(252, 25, 25));
    color: white;
    animation: gradient 1s ease;
}

.btn_form_perso:hover {
    background: linear-gradient(rgb(252, 25, 25),#b60c00);
    color: white;
}

.banner_img {
    width: 100%;
    height: auto;
}

.banner_section {
    display: flex;
    flex-direction: row;
    
}

.mid_menu li::after {
    content: "|";
    float: right;
    color: black;
    margin-left: .5rem;
}

.mid_menu li:last-child::after {
    display: none;
}

@media (max-width:768px) {
    html {
        font-size: 2.5rem;
    }
    header {
        margin-bottom: 16rem;
        position: static;
    }

    .logo img{
        width: 60%;
    }

    a {
        width: 100%;
        margin-bottom: .3rem;
    }

    ul, .login_options {
        flex-direction: column;
     }

     .logo, .login_options, header nav {
         margin-bottom: 2rem;
     }
}

@media (max-width:540px) {
    ul {
       flex-direction: column;
    }

    header {
        margin-bottom: 25rem;
    }

}



